.about {
    section.primary {
        max-width: 500px;
        margin-bottom: 3rem;
    }

    .stack {
        font-weight: 900;
        font-size: 14px;
        margin: 0.5rem 0;
    }

    .project {
        h3 {
            font-weight: 700;
            font-size: 14px;
            margin: 1rem 0;
        }
        p, ul {
            margin: 0.5rem 0;
        }
    }
}
