@import '../shared.scss';

.header {
    font-weight: 300;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $padding-size;
        border-bottom: 1px solid currentColor;
    }

    .name {
        font-size: 2rem;
        font-weight: 700;
        padding: 0;
    }

    .tabs {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
        margin: 0;
        margin-left: auto;
    }

    a {
        margin-right: 0.5rem;
        padding: 0 0.5rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    a.active-link {
        background-color: rgba(0, 0, 0, 0.1);
    }

    h4 {
        margin-right: 0.5rem;
    }

    .splitter {
        width: 1rem;
        height: 1rem;
    }

    .pipe {
        @media screen and (max-width: $break-point) {
            display: none;
        }
    }

    @media print {
        display: none;
    }

    @media screen and (max-width: $break-point) {
        .container {
            flex-direction: column;
            gap: 0.5rem;
            align-items: flex-start;
        }
        .tabs {
            margin-left: 0;
        }
    }
}
